# Common, events
*.txt text eol=crlf
*.info text eol=crlf

# Localisation
*.yml text eol=crlf

#Interface
*.gui text eol=crlf
*.gfx text eol=crlf
*.asset text eol=crlf

#Map
*.csv text eol=crlf

#Other
*.mod text eol=crlf

#GFX
*.png binary
*.tga binary
*.dds binary
*.bmp binary
*.mesh binary
*.anim binary
*.fnt binary

#Sound
*.ogg binary
*.wav binary
